@using socisaWeb.Helpers
@model socisaWeb.PlataView

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="panel" ng-init="@String.Format("model={0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.None, new Newtonsoft.Json.Converters.IsoDateTimeConverter() { DateTimeFormat = SOCISA.CommonFunctions.DATE_FORMAT }))">
        <div class="panel-body">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr class="warning">
                        <th colspan="3">@socisaV2.Resources.DosareResx.VALOARE_REGRES</th>
                        <th style="text-align:right;">{{VALOARE_REGRES | number:2}}</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>
                            @if (Helpers.HasRight("adaugare"))
                            {
                                <a href="#" class="btn btn-default btn-xs" title="@socisaV2.Resources.GlobalResx.ADAUGARE_TITLE" a-disabled="editMode == 1" ng-click="EnterAddMode()"><span class="glyphicon glyphicon-plus"></span></a>
                            }
                        </th>
                        <th>@socisaV2.Resources.PlatiResx.NR_DOCUMENT</th>
                        <th>@socisaV2.Resources.PlatiResx.DATA_DOCUMENT</th>
                        <th style="text-align:right;">@socisaV2.Resources.PlatiResx.SUMA</th>
                        <th>@socisaV2.Resources.PlatiResx.ID_TIP_PLATA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="plata in model.Plati">
                        <td>
                            @if (Helpers.HasRight("modificare"))
                            {
                                <a href="#" class="btn btn-default btn-xs" title="@socisaV2.Resources.GlobalResx.EDITARE_TITLE" a-disabled="editMode == 1" ng-click="EnterEditMode(plata)"><span class="glyphicon glyphicon-edit"></span></a>
                            }
                            @if (Helpers.HasRight("stergere"))
                            {
                                <a href="#" class="btn btn-default btn-xs" title="@socisaV2.Resources.GlobalResx.STERGERE_TITLE" a-disabled="editMode == 1" ng-click="EnterDeleteMode(plata, '@socisaV2.Resources.GlobalResx.CONFIRM_DELETE_MESSAGE')"><span class="glyphicon glyphicon-trash"></span></a>
                            }
                        </td>
                        <td>{{plata.NR_DOCUMENT}}</td>
                        <td>{{plata.DATA_DOCUMENT}}</td>
                        <td style="text-align:right;">{{plata.SUMA | number:2}}</td>
                        <td>{{getTipPlata(plata.ID_TIP_PLATA)}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="info">
                        <th colspan="3">@socisaV2.Resources.PlatiResx.TOTAL_PLATI</th>
                        <th style="text-align:right;">{{Totaluri.TotalPlati | number:2}}</th>
                        <th></th>
                    </tr>
                    <tr ng-class="Totaluri.RestDePlata >= 0 ? 'danger' : 'success'">
                        <th colspan="3">@socisaV2.Resources.PlatiResx.REST_DE_PLATA</th>
                        <th style="text-align:right;">{{Totaluri.RestDePlata | number:2}}</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="panel" ng-show="editMode > 0" style="padding:10px;">
        <div class="panel-body">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CurPlata.ID)
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurPlata.NR_DOCUMENT, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurPlata.NR_DOCUMENT, new { htmlAttributes = new { @class = "form-control input-sm customInput", data_ng_model = "model.CurPlata.NR_DOCUMENT" } })
                            @Html.ValidationMessageFor(model => model.CurPlata.NR_DOCUMENT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurPlata.DATA_DOCUMENT, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                                @Html.TextBoxFor(model => model.CurPlata.DATA_DOCUMENT, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.CurPlata.DATA_DOCUMENT", jqdatepicker = "" })
                            </div>
                            @Html.ValidationMessageFor(model => model.CurPlata.DATA_DOCUMENT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurPlata.SUMA, htmlAttributes: new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.CurPlata.SUMA, new { @class = "form-control input-sm customInput", data_ng_model = "model.CurPlata.SUMA" })
                            @Html.ValidationMessageFor(model => model.CurPlata.SUMA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurPlata.ID_TIP_PLATA, htmlAttributes: new { @class = "control-label" })
                            <select name="tipPlataSelect" id="tipPlataSelect" class="form-control input-sm customInput" ng-model="model.CurPlata.ID_TIP_PLATA">
                                <option ng-repeat="tipPlata in model.TipuriPlati" ng-value="tipPlata.ID">{{tipPlata.DENUMIRE}}</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.CurPlata.ID_TIP_PLATA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurPlata.OBSERVATII, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.CurPlata.OBSERVATII, new { @class = "form-control input-sm customInput", data_ng_model = "model.CurPlata.OBSERVATII" })
                            @Html.ValidationMessageFor(model => model.CurPlata.OBSERVATII, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <a href="#" class="btn btn-default save" ng-click="SaveEdit()" title="@socisaV2.Resources.GlobalResx.SALVEAZA_TITLE"><span class="glyphicon glyphicon-floppy-saved dosareNavigatorButon"></span></a>
                            <a href="#" class="btn btn-default delete" ng-click="CancelEdit()" title="@socisaV2.Resources.GlobalResx.RENUNTA_TITLE"><span class="glyphicon glyphicon-floppy-remove dosareNavigatorButon"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}