@using socisaWeb.Helpers
@model socisaWeb.ProcesView

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div ng-init="@String.Format("model={0}; RowsBlockSize = {1}; RowsCount = {2}; {3} ShowProces(0);",
            Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.None, new Newtonsoft.Json.Converters.IsoDateTimeConverter() { DateTimeFormat = SOCISA.CommonFunctions.DATE_FORMAT }),
            SOCISA.CommonFunctions.ROWS_BLOCK_SIZE,
            Model.FilteredRowsCount,
            ViewContext.RouteData.Values["id"] != null && ViewContext.RouteData.Values["id"].ToString() == "PROCESE" ? "activeTab.Value = 'procese';" : ""
        )">
    </div>
    <!--
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-11">
                        @socisaV2.Resources.ProceseResx.LISTA_PROCESE
                    </div>
                    <div class="col-sm-1" style="text-align:right">
                        <a href="#" class="btn btn-default btn-xs" ng-click="ShowHideList(true)"><span class="glyphicon glyphicon-eye-close" style="cursor:pointer;" title="@socisaV2.Resources.GlobalResx.AFISEAZA_ASCUNDE"></span></a>
                    </div>
                </div>
            </div>
            <div class="panel-body" id="ProceseListDiv" style="height:200px; overflow-y:auto;display:block;">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>@socisaV2.Resources.ProceseResx.NR_DOSAR_INSTANTA</th>
                            <th>@socisaV2.Resources.ProceseResx.DATA_DEPUNERE</th>
                            <th>@socisaV2.Resources.ProceseResx.ID_TIP_PROCES</th>
                            <th class="numberFormat">@socisaV2.Resources.ProceseResx.SUMA_SOLICITATA</th>
                            <th class="numberFormat">@socisaV2.Resources.ProceseResx.PENALITATI</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="proces in model.Procese" id="proces_{{$index}}" style="{{($index == curProcesIndex.Value ? 'background-color:orange;' : '')}}">
                            <td style="width:30px;">
                                <a href="#" class="btn btn-default btn-xs" a-disabled="editMode > 0 || editModeStadii > 0" ng-click="ShowProces($index)"><span class="glyphicon glyphicon-eye-open"></span></a>
                            </td>
                            <td>{{proces.Proces.NR_DOSAR_INSTANTA}}</td>
                            <td>{{proces.Proces.DATA_DEPUNERE}}</td>
                            <td>{{getTipProces(proces.Proces.ID_TIP_PROCES)}}</td>
                            <td class="numberFormat">{{proces.Proces.SUMA_SOLICITATA | number:2}}</td>
                            <td class="numberFormat">{{proces.Proces.PENALITATI | number:2}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    -->
    <!-- Lista procese -->
    <div id="proceseSideNav" class="dosareSideNav">
        <table style="width:95%;padding:5px;margin:5px;" a-disabled="editMode > 0 || editModeStadii > 0">
            <tr style="border-bottom:1px solid white;">
                <td style="padding:5px;">@socisaV2.Resources.ProceseResx.LISTA_PROCESE:</td>
                <td style="padding:5px;text-align:right"><a href="#" onclick="showProceseSideNav(false)">X</a></td>
            </tr>
            <tr ng-show="model.Procese == null || model.Procese.length == 0">
                <td colspan="2" style="padding:5px;">
                    @socisaV2.Resources.ProceseResx.NU_SUNT_PROCESE_FILTRATE
                </td>
            </tr>
            <tr ng-repeat="proces in model.Procese">
                <td ng-show="$index == curProcesIndex" colspan="2" style="padding:5px;color:red;font-weight:bold;">
                    @socisaV2.Resources.ProceseResx.NR_DOSAR_INSTANTA: <a href="#" ng-click="ShowProces($index);">{{proces.NR_DOSAR_INSTANTA}}</a>
                </td>
                <td ng-show="$index != curProcesIndex" colspan="2" style="padding:5px;">
                    @socisaV2.Resources.ProceseResx.NR_DOSAR_INSTANTA: <a href="#" ng-click="ShowProces($index);">{{proces.NR_DOSAR_INSTANTA}}</a>
                </td>
            </tr>
        </table>
    </div>
    <!-- end lista procese -->

    <div class="panel panel-primary" a-disabled="editModeStadii > 0" id="mainInfoGeneraleDosar">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-10">
                    @socisaV2.Resources.ProceseResx.INFO_GENERALE_DOSAR
                </div>
                <div class="col-sm-2" style="text-align:right">
                    <a href="#" class="btn btn-default btn-xs" ng-click="ShowHideMain()"><span class="glyphicon glyphicon-eye-close" style="cursor:pointer;" title="@socisaV2.Resources.GlobalResx.AFISEAZA_ASCUNDE"></span></a>
                    <!--
                    <a href="#" class="btn btn-default btn-xs" ng-click="ShowInfoPortal(model.CurProces.Proces.ID)"><span class="glyphicon glyphicon-blackboard" style="cursor:pointer;" title="Afisare informatii portal"></span></a>
                    -->
                </div>
            </div>
        </div>
        <div class="panel-body" id="infoGeneraleDosar">
            <div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.CurProces.Proces.ID)

                <div class="row" a-disabled="editMode == 0 && searchMode != 2">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.procesJson.Calitate, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.procesJson.Calitate, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group" a-disabled="searchMode == 1 || (editMode > 0 && ID_DOSAR != null)">
                                <select name="calitateSelect" id="calitateSelect" class="form-control input-sm customInput" ng-model="model.procesJson.Calitate" ng-click="Interactive=true">
                                    <option value=null></option>
                                    <option ng-repeat="calitate in model.Calitati" ng-value="calitate.DENUMIRE">{{calitate.DENUMIRE}}</option>
                                </select>
                                <span ng-show="searchMode != 2" class="input-group-addon customInputGroupAddOn" id="popoverCalitate" ng-click="popOver('Calitate')" data-poload="/Calitati/Details/">...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ID_RECLAMANT, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.CurProces.Proces.ID_RECLAMANT, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                @Html.EditorFor(model => model.procesJson.Reclamant, new { htmlAttributes = new { @class = "form-control input-sm customInput", a_disabled = "((searchMode == 2 || editMode > 0) && model.procesJson.Calitate == 'RECLAMANT') || (editMode > 0 && model.procesJson.Calitate == null)", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.procesJson.Reclamant", data_ng_init = string.Format("model.procesJson.Reclamant = '{0}'", Model.procesJson.Reclamant) } })
                                <span class="input-group-addon customInputGroupAddOn" id="popoverReclamant" ng-click="popOver('Reclamant')" data-poload="/Parti/Details/">...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ID_PARAT, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.CurProces.Proces.ID_PARAT, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                @Html.EditorFor(model => model.procesJson.Parat, new { htmlAttributes = new { @class = "form-control input-sm customInput", a_disabled = "((searchMode == 2 || editMode > 0) && model.procesJson.Calitate == 'PARAT') || (editMode > 0 && model.procesJson.Calitate == null)", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.procesJson.Parat", data_ng_init = string.Format("model.procesJson.Parat = '{0}'", Model.procesJson.Parat) } })
                                <span class="input-group-addon customInputGroupAddOn" id="popoverParat" ng-click="popOver('Parat')" data-poload="/Parti/Details/">...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" a-disabled="editMode == 0 && searchMode != 2">
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ID_TERT, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.CurProces.Proces.ID_TERT, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                @Html.EditorFor(model => model.procesJson.Tert, new { htmlAttributes = new { @class = "form-control input-sm customInput", a_disabled = "((searchMode == 2 || editMode > 0) && model.procesJson.Calitate == 'TERT') || (editMode > 0 && model.procesJson.Calitate == null)", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.procesJson.Tert", data_ng_init = string.Format("model.procesJson.Tert = '{0}'", Model.procesJson.Tert) } })
                                <span class="input-group-addon customInputGroupAddOn" id="popoverTert" ng-click="popOver('Tert')" data-poload="/Parti/Details/">...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.CALITATE_TERT, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.CurProces.Proces.CALITATE_TERT, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.CALITATE_TERT, new { htmlAttributes = new { @class = "form-control input-sm customInput", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.CALITATE_TERT", data_ng_init = string.Format("model.CurProces.Proces.CALITATE_TERT = '{0}'", Model.CurProces.Proces.CALITATE_TERT) } })
                        </div>
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.NR_DOSAR_INSTANTA, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.NR_DOSAR_INSTANTA, new { htmlAttributes = new { @class = "form-control input-sm customInput", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", a_disabled = "editMode == 0 && searchMode != 2", data_ng_model = "model.CurProces.Proces.NR_DOSAR_INSTANTA", data_ng_init = string.Format("model.CurProces.Proces.NR_DOSAR_INSTANTA = '{0}'", Model.CurProces.Proces.NR_DOSAR_INSTANTA) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.NR_DOSAR_INSTANTA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="row" ng-show="searchMode == 2">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.procesJson.DataDepunereStart, htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="row" ng-show="searchMode == 2">
                                <div class="col-sm-6 toToDates">
                                    @Html.Label(socisaV2.Resources.ProceseResx.DATA_DE_LA, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group" a-disabled="editMode == 0 && searchMode != 2">
                                        <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.procesJson.DataDepunereStart, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.procesJson.DataDepunereStart", data_ng_init = string.Format("model.procesJson.DataDepunereStart = '{0}'", Model.procesJson.DataDepunereStart), jqdatepicker = "" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.procesJson.DataDepunereEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group" a-disabled="editMode == 0 && searchMode != 2">
                                        <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.procesJson.DataDepunereEnd, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.procesJson.DataDepunereEnd", data_ng_change = "Interactive=true;", data_ng_init = string.Format("model.procesJson.DataDepunereEnd = '{0}'", Model.procesJson.DataDepunereEnd), jqdatepicker = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="searchMode == 1 || editMode > 0">
                                <div class="col-sm-12">
                                    @Html.ValidationMessageFor(model => model.CurProces.Proces.DATA_DEPUNERE, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.CurProces.Proces.DATA_DEPUNERE, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group" a-disabled="searchMode == 1 && editMode == 0">
                                        <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.CurProces.Proces.DATA_DEPUNERE, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.CurProces.Proces.DATA_DEPUNERE", data_ng_init = Model.CurProces.Proces.DATA_DEPUNERE == null ? "" : String.Format("model.CurProces.Proces.DATA_DEPUNERE = '{0}'", Convert.ToDateTime(Model.CurProces.Proces.DATA_DEPUNERE).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </div>
                            </div>
                            <!--
                @Html.LabelFor(model => model.CurProces.Proces.DATA_DEPUNERE, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                    @Html.TextBoxFor(model => model.CurProces.Proces.DATA_DEPUNERE, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.CurProces.Proces.DATA_DEPUNERE", jqdatepicker = "" })
                </div>
                @Html.ValidationMessageFor(model => model.CurProces.Proces.DATA_DEPUNERE, "", new { @class = "text-danger" })
                -->
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ID_TIP_PROCES, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.CurProces.Proces.ID_TIP_PROCES, htmlAttributes: new { @class = "control-label" })
                            <!--
                <select name="tipProcesSelect" id="tipProcesSelect" class="form-control input-sm customInput" ng-model="model.CurProces.Proces.ID_TIP_PROCES">
                    <option ng-repeat="tipProces in model.TipuriProcese" ng-value="tipProces.ID">{{tipProces.DENUMIRE}}</option>
                </select>
                -->
                            <div class="input-group">
                                <select name="tipProcesSelect" id="tipProcesSelect" class="form-control input-sm customInput" ng-click="Interactive=true" ng-model="model.CurProces.Proces.ID_TIP_PROCES" a-disabled="editMode == 0 && searchMode != 2">
                                    <option ng-repeat="tipProces in model.TipuriProcese" ng-value="tipProces.ID">{{tipProces.DENUMIRE}}</option>
                                </select>
                                <span class="input-group-addon customInputGroupAddOn" id="popoverTipProces" a-disabled="searchMode == 2" ng-click="popOver('TipProces')" data-poload="/TipuriProcese/Details/">...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.MONITORIZARE, htmlAttributes: new { @class = "control-label" })
                            @Html.CheckBoxFor(model => model.CurProces.Proces.MONITORIZARE, new { @class = "form-control input-sm customInput", data_ng_model = "model.CurProces.Proces.MONITORIZARE", a_disabled = "editMode == 0 && searchMode != 2", data_ng_click = "Interactive=true" })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.MONITORIZARE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.SUMA_SOLICITATA, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.SUMA_SOLICITATA, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.SUMA_SOLICITATA", data_ng_init = string.Format("model.CurProces.Proces.SUMA_SOLICITATA = '{0}'", Model.CurProces.Proces.SUMA_SOLICITATA) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.SUMA_SOLICITATA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.PENALITATI, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.PENALITATI, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.PENALITATI", data_ng_init = string.Format("model.CurProces.Proces.PENALITATI = '{0}'", Model.CurProces.Proces.PENALITATI) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.PENALITATI, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.TAXA_TIMBRU, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.TAXA_TIMBRU, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.TAXA_TIMBRU", data_ng_init = string.Format("model.CurProces.Proces.TAXA_TIMBRU = '{0}'", Model.CurProces.Proces.TAXA_TIMBRU) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.TAXA_TIMBRU, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.TIMBRU_JUDICIAR, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.TIMBRU_JUDICIAR, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.TIMBRU_JUDICIAR", data_ng_init = string.Format("model.CurProces.Proces.TIMBRU_JUDICIAR = '{0}'", Model.CurProces.Proces.TIMBRU_JUDICIAR) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.TIMBRU_JUDICIAR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.ONORARIU_EXPERT, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.ONORARIU_EXPERT, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.ONORARIU_EXPERT", data_ng_init = string.Format("model.CurProces.Proces.ONORARIU_EXPERT = '{0}'", Model.CurProces.Proces.ONORARIU_EXPERT) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ONORARIU_EXPERT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.ONORARIU_AVOCAT, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.ONORARIU_AVOCAT, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.ONORARIU_AVOCAT", data_ng_init = string.Format("model.CurProces.Proces.ONORARIU_AVOCAT = '{0}'", Model.CurProces.Proces.ONORARIU_AVOCAT) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ONORARIU_AVOCAT, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ID_INSTANTA, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.CurProces.Proces.ID_INSTANTA, htmlAttributes: new { @class = "control-label" })
                            <!--
                <select name="instantaSelect" id="instantaSelect" class="form-control input-sm customInput" ng-model="model.CurProces.Proces.ID_INSTANTA">
                    <option ng-repeat="instanta in model.Instante" ng-value="instanta.ID">{{instanta.DENUMIRE}}</option>
                </select>
                -->
                            <div class="input-group">
                                <select name="instantaSelect" id="instantaSelect" class="form-control input-sm customInput" ng-click="Interactive=true" ng-model="model.CurProces.Proces.ID_INSTANTA" a-disabled="editMode == 0 && searchMode != 2">
                                    <option ng-repeat="instanta in model.Instante" ng-value="instanta.ID">{{instanta.DENUMIRE}}</option>
                                </select>
                                <span class="input-group-addon customInputGroupAddOn" id="popoverInstanta" a-disabled="searchMode == 2" ng-click="popOver('Instanta')" data-poload="/Instante/Details/">...</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ID_COMPLET, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.CurProces.Proces.ID_COMPLET, htmlAttributes: new { @class = "control-label" })
                            <!--
                            <select name="completSelect" id="completSelect" class="form-control input-sm customInput" ng-model="model.CurProces.Proces.ID_COMPLET">
                                <option ng-repeat="complet in model.Complete" ng-value="complet.ID">{{complet.DENUMIRE}}</option>
                            </select>
                            -->
                            <div class="input-group">
                                <select name="completSelect" id="completSelect" class="form-control input-sm customInput" ng-click="Interactive=true" ng-model="model.CurProces.Proces.ID_COMPLET" a-disabled="editMode == 0 && searchMode != 2">
                                    <option ng-repeat="complet in model.Complete" ng-value="complet.ID">{{complet.DENUMIRE}}</option>
                                </select>
                                <span class="input-group-addon customInputGroupAddOn" id="popoverComplet" a-disabled="searchMode == 2" ng-click="popOver('Complet')" data-poload="/Complete/Details/">...</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.CHELTUIELI_MICA_PUBLICITATE, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.CHELTUIELI_MICA_PUBLICITATE, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.CHELTUIELI_MICA_PUBLICITATE", data_ng_init = string.Format("model.CurProces.Proces.CHELTUIELI_MICA_PUBLICITATE = '{0}'", Model.CurProces.Proces.CHELTUIELI_MICA_PUBLICITATE) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.CHELTUIELI_MICA_PUBLICITATE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.ONORARIU_CURATOR, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.ONORARIU_CURATOR, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.ONORARIU_CURATOR", data_ng_init = string.Format("model.CurProces.Proces.ONORARIU_CURATOR = '{0}'", Model.CurProces.Proces.ONORARIU_CURATOR) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ONORARIU_CURATOR, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.ALTE_CHELTUIELI_JUDECATA, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.ALTE_CHELTUIELI_JUDECATA, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.ALTE_CHELTUIELI_JUDECATA", data_ng_init = string.Format("model.CurProces.Proces.ALTE_CHELTUIELI_JUDECATA = '{0}'", Model.CurProces.Proces.ALTE_CHELTUIELI_JUDECATA) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ALTE_CHELTUIELI_JUDECATA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.TAXA_TIMBRU_REEXAMINARE, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.TAXA_TIMBRU_REEXAMINARE, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.TAXA_TIMBRU_REEXAMINARE", data_ng_init = string.Format("model.CurProces.Proces.TAXA_TIMBRU_REEXAMINARE = '{0}'", Model.CurProces.Proces.TAXA_TIMBRU_REEXAMINARE) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.TAXA_TIMBRU_REEXAMINARE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.NR_DOSAR_EXECUTARE, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.NR_DOSAR_EXECUTARE, new { htmlAttributes = new { @class = "form-control input-sm customInput", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.NR_DOSAR_EXECUTARE", data_ng_init = string.Format("model.CurProces.Proces.NR_DOSAR_EXECUTARE = '{0}'", Model.CurProces.Proces.NR_DOSAR_EXECUTARE) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.NR_DOSAR_EXECUTARE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="row" ng-show="searchMode == 2">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.procesJson.DataExecutareStart, htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="row" ng-show="searchMode == 2">
                                <div class="col-sm-6 toToDates">
                                    @Html.Label(socisaV2.Resources.ProceseResx.DATA_DE_LA, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group" a-disabled="editMode == 0 && searchMode != 2">
                                        <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.procesJson.DataExecutareStart, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.procesJson.DataExecutareStart", data_ng_init = string.Format("model.procesJson.DataExecutareStart = '{0}'", Model.procesJson.DataExecutareStart), jqdatepicker = "" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.procesJson.DataExecutareEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group" a-disabled="editMode == 0 && searchMode != 2">
                                        <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.procesJson.DataExecutareEnd, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.procesJson.DataExecutareEnd", data_ng_change = "Interactive=true;", data_ng_init = string.Format("model.procesJson.DataExecutareEnd = '{0}'", Model.procesJson.DataExecutareEnd), jqdatepicker = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="searchMode == 1 || editMode > 0">
                                <div class="col-sm-12">
                                    @Html.ValidationMessageFor(model => model.CurProces.Proces.DATA_EXECUTARE, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.CurProces.Proces.DATA_EXECUTARE, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group" a-disabled="searchMode == 1 && editMode == 0">
                                        <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.CurProces.Proces.DATA_EXECUTARE, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.CurProces.Proces.DATA_EXECUTARE", data_ng_init = Model.CurProces.Proces.DATA_EXECUTARE == null ? "" : String.Format("model.CurProces.Proces.DATA_EXECUTARE = '{0}'", Convert.ToDateTime(Model.CurProces.Proces.DATA_EXECUTARE).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </div>
                            </div>
                            <!--
                @Html.LabelFor(model => model.CurProces.Proces.DATA_EXECUTARE, htmlAttributes: new { @class = "control-label" })
                <div class="input-group">
                    <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                    @Html.TextBoxFor(model => model.CurProces.Proces.DATA_EXECUTARE, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.CurProces.Proces.DATA_EXECUTARE", jqdatepicker = "" })
                </div>
                @Html.ValidationMessageFor(model => model.CurProces.Proces.DATA_EXECUTARE, "", new { @class = "text-danger" })
                -->
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.ONORARIU_AVOCAT_EXECUTARE, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.ONORARIU_AVOCAT_EXECUTARE, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.ONORARIU_AVOCAT_EXECUTARE", data_ng_init = string.Format("model.CurProces.Proces.ONORARIU_AVOCAT_EXECUTARE = '{0}'", Model.CurProces.Proces.ONORARIU_AVOCAT_EXECUTARE) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ONORARIU_AVOCAT_EXECUTARE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.CHELTUIELI_EXECUTARE, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.CHELTUIELI_EXECUTARE, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.CHELTUIELI_EXECUTARE", data_ng_init = string.Format("model.CurProces.Proces.CHELTUIELI_EXECUTARE = '{0}'", Model.CurProces.Proces.CHELTUIELI_EXECUTARE) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.CHELTUIELI_EXECUTARE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.DESPAGUBIRE_ACORDATA, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.DESPAGUBIRE_ACORDATA, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.DESPAGUBIRE_ACORDATA", data_ng_init = string.Format("model.CurProces.Proces.DESPAGUBIRE_ACORDATA = '{0}'", Model.CurProces.Proces.DESPAGUBIRE_ACORDATA) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.DESPAGUBIRE_ACORDATA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.CHELTUIELI_JUDECATA_ACORDATE, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.CurProces.Proces.CHELTUIELI_JUDECATA_ACORDATE, new { htmlAttributes = new { @class = "form-control input-sm customInput numberFormat", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.CHELTUIELI_JUDECATA_ACORDATE", data_ng_init = string.Format("model.CurProces.Proces.CHELTUIELI_JUDECATA_ACORDATE = '{0}'", Model.CurProces.Proces.CHELTUIELI_JUDECATA_ACORDATE) } })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.CHELTUIELI_JUDECATA_ACORDATE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CurProces.Proces.OBSERVATII, htmlAttributes: new { @class = "control-label" })
                            @Html.TextAreaFor(model => model.CurProces.Proces.OBSERVATII, new { @class = "form-control input-sm customInput", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.Proces.OBSERVATII", data_ng_init = string.Format("model.CurProces.Proces.OBSERVATII = '{0}'", Model.CurProces.Proces.OBSERVATII) })
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.OBSERVATII, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            @Html.ValidationMessageFor(model => model.CurProces.Proces.ID_CONTRACT, "", new { @class = "text-danger" })
                            @Html.LabelFor(model => model.CurProces.Proces.ID_CONTRACT, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <!--
                    <select name="contractSelect" id="contractSelect" class="form-control input-sm customInput" ng-click="Interactive=true;" ng-model="model.CurProces.Proces.ID_CONTRACT">
                        <option ng-repeat="contract in model.Contracte" ng-value="contract.ID">{{contract.NR_CONTRACT + " / " + contract.DATA_CONTRACT}}</option>
                    </select>
                    -->
                                @Html.HiddenFor(model => model.CurProces.Proces.ID_CONTRACT, new { data_ng_model = "model.CurProces.Proces.ID_CONTRACT", data_ng_init = string.Format("model.CurProces.Proces.ID_CONTRACT = '{0}'", Model.CurProces.Proces.ID_CONTRACT) })
                                @Html.EditorFor(model => model.CurProces.Contract.NR_CONTRACT, new { htmlAttributes = new { @class = "form-control input-sm customInput", a_disabled = "editMode == 0 && searchMode != 2", data_ng_keyup = "Interactive=true", data_ng_model = "model.CurProces.Contract.NR_CONTRACT", data_ng_init = string.Format("model.CurProces.Contract.NR_CONTRACT = '{0}'", Model.CurProces.Contract == null ? "" : Model.CurProces.Contract.NR_CONTRACT) } })
                                <span class="input-group-addon customInputGroupAddOn" a-disabled="model.CurProces.Proces.ID == null || searchMode == 2" ng-click="OpenContractsDialog()">...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <label class="control-label">@socisaV2.Resources.ProceseResx.STADIU</label>
                        <!--
                @Html.LabelFor(model => model.CurProces.StadiuCurent.Stadiu.DENUMIRE, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.CurProces.StadiuCurent.Stadiu.DENUMIRE, new { htmlAttributes = new { @class = "form-control input-sm customInput", a_disabled = "searchMode != 2", data_ng_keyup = "Interactive=true; Afisare($event.target.value, $event)", data_ng_model = "model.CurProces.StadiuCurent.Stadiu.DENUMIRE", data_ng_init = string.Format("model.CurProces.StadiuCurent.Stadiu.DENUMIRE = '{0}'", Model.CurProces.StadiuCurent == null || Model.CurProces.StadiuCurent.Stadiu == null ? "" : Model.CurProces.StadiuCurent.Stadiu.DENUMIRE) } })
            -->
                        <select name="selectStadiu" id="selectStadiu" class="form-control input-sm customInput" style="width:150px;" a-disabled="searchMode != 2" ng-model="model.CurProces.StadiuCurent.ProcesStadiu.ID_STADIU" ng-click="Interactive=true"
                                ng-options="stadiu.ID as stadiu.DENUMIRE group by stadiu.CATEGORIE for stadiu in model.Stadii"></select>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <div class="row" ng-show="searchMode == 2">
                                <div class="col-sm-12">
                                    @Html.LabelFor(model => model.procesJson.DataStadiu, htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                            <div class="row" ng-show="searchMode == 2">
                                <div class="col-sm-6 toToDates">
                                    @Html.Label(socisaV2.Resources.ProceseResx.DATA_DE_LA, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group" a-disabled="editMode == 0 && searchMode != 2">
                                        <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.procesJson.DataStadiuStart, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.procesJson.DataStadiuStart", data_ng_init = string.Format("model.procesJson.DataStadiuStart = '{0}'", Model.procesJson.DataStadiuStart), jqdatepicker = "" })
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    @Html.LabelFor(model => model.procesJson.DataStadiuEnd, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group" a-disabled="editMode == 0 && searchMode != 2">
                                        <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.procesJson.DataStadiuEnd, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.procesJson.DataStadiuEnd", data_ng_change = "Interactive=true;", data_ng_init = string.Format("model.procesJson.DataStadiuEnd = '{0}'", Model.procesJson.DataStadiuEnd), jqdatepicker = "" })
                                    </div>
                                </div>
                            </div>
                            <div class="row" ng-show="searchMode == 1">
                                <div class="col-sm-12">
                                    @Html.ValidationMessageFor(model => model.procesJson.DataStadiu, "", new { @class = "text-danger" })
                                    @Html.LabelFor(model => model.procesJson.DataStadiu, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group" a-disabled="searchMode == 1 && editMode == 0">
                                        <span class="input-group-addon customInputGroupAddOn"><img src="~/Content/calendar.gif" /></span>
                                        @Html.TextBoxFor(model => model.procesJson.DataStadiu, new { @class = "form-control input-sm customInput dateTimeInput", @readonly = "readonly", data_ng_model = "model.procesJson.DataStadiu", data_ng_init = Model.procesJson.DataStadiu == null ? "" : String.Format("model.procesJson.DataStadiu = '{0}'", Convert.ToDateTime(Model.procesJson.DataStadiu).UnixTicks()), jqdatepicker = "" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">

                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" id="footerGeneraleDosar">
            <div class="row small">
                <div class="col-sm-12">
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <a href="#" class="btn btn-default btn-sm" title="@socisaV2.Resources.GlobalResx.ADAUGARE_TITLE" a-disabled="editMode > 0 || searchMode == 2" ng-show="editMode == 0" ng-click="EnterAddMode('@socisaV2.Resources.ProceseResx.CONFIRM_ADD_TO_CURRENT_FILE_MESSAGE')"><span class="glyphicon glyphicon-plus"></span></a>
                            <a href="#" class="btn btn-default btn-sm" title="@socisaV2.Resources.GlobalResx.EDITARE_TITLE" a-disabled="editMode > 0 || searchMode == 2" ng-show="editMode == 0" ng-click="EnterEditMode()"><span class="glyphicon glyphicon-edit"></span></a>
                            <a href="#" class="btn btn-default btn-sm" title="@socisaV2.Resources.GlobalResx.STERGERE_TITLE" a-disabled="editMode > 0 || searchMode == 2" ng-show="editMode == 0" ng-click="EnterDeleteMode('@socisaV2.Resources.GlobalResx.CONFIRM_DELETE_MESSAGE')"><span class="glyphicon glyphicon-trash"></span></a>

                            <div class="btn-group dropup" ng-show="editMode == 0 && searchMode != 2">
                                <a href="#" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" a-disabled="searchMode == 2 || editMode > 0 || (model == null || model.CurProces == null || model.CurProces.Proces.ID == undefined || model.CurProces.Proces.ID == '')">
                                    @socisaV2.Resources.ProceseResx.OPTIUNI
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" id="divIdOptiuni">
                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-print"></span>&nbsp;@socisaV2.Resources.ProceseResx._LABEL_TIPARIRE</a>
                                        <ul class="dropdown-menu" style="height:93px;">
                                            <li ng-show="true" a-disabled="true">
                                                <a href="#" ng-click="TiparireActiune()" title="@socisaV2.Resources.ProceseResx._LABEL_TIPARIRE_ACTIUNE_TITLE"><span class="glyphicon glyphicon-print"></span>&nbsp;@socisaV2.Resources.ProceseResx._LABEL_TIPARIRE_ACTIUNE</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-print"></span>&nbsp;@socisaV2.Resources.ProceseResx._LABEL_EXPORT_EXCEL</a>
                                        <ul class="dropdown-menu" style="height:62px;">
                                            <li>
                                                <a href="#" title="@socisaV2.Resources.ProceseResx._LABEL_EXPORT_PROCESE_IN_EXCEL_TITLE" ng-click="ExportProceseToExcel()" id="buttonExportProceseToExcel">
                                                    <i class="fa fa-file-excel-o" style="font-size:16px;"></i>&nbsp;@socisaV2.Resources.ProceseResx._LABEL_EXPORT_PROCESE_IN_EXCEL
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" title="@socisaV2.Resources.ProceseResx._LABEL_RAPORT_TERMENE_TITLE" id="buttonRaportTermene" ng-click="RaportTermene()">
                                                    <i class="fa fa-file-excel-o" style="font-size:16px;"></i>&nbsp;@socisaV2.Resources.ProceseResx._LABEL_RAPORT_TERMENE
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                    @if (Helpers.HasRight("trimitere email"))
                                    {
                                        <li ng-show="true && ExternalUser.Value != true" a-disabled="true">
                                            <a href="#" ng-click="EnterSendMode('@socisaV2.Resources.ProceseResx.RESEND_EMAIL_CONFIRMATION_MESSAGE')" title="@socisaV2.Resources.ProceseResx._LABEL_EMAIL_ACTIUNE_TITLE"><span class="glyphicon glyphicon-envelope"></span>&nbsp;@socisaV2.Resources.ProceseResx._LABEL_EMAIL_ACTIUNE</a>
                                        </li>
                                    }
                                </ul>
                            </div>

                            <a href="#" class="btn btn-default btn-sm save" ng-click="SaveEdit()" title="@socisaV2.Resources.GlobalResx.SALVEAZA_TITLE" ng-show="editMode > 0"><span class="glyphicon glyphicon-floppy-saved dosareNavigatorButon"></span></a>
                            <a href="#" class="btn btn-default btn-sm delete" ng-click="CancelEdit()" title="@socisaV2.Resources.GlobalResx.RENUNTA_TITLE" ng-show="editMode > 0"><span class="glyphicon glyphicon-floppy-remove dosareNavigatorButon"></span></a>
                        </div>
                        <ul class="pager" ng-show="searchMode > 0" a-disabled="ExternalUser.Value == true" style="margin:0px;">
                            <li><a href="#" title="{{searchMode == 2 ? '@socisaV2.Resources.ProceseResx.SHOW_TITLE' : '@socisaV2.Resources.ProceseResx.SEARCH_TITLE'}}" ng-click="ToggleSearchMode()"><span class="glyphicon {{searchMode == 2 ? 'glyphicon-eye-open' : 'glyphicon-search'}} dosareNavigatorButon" style="font-size:{{searchMode == 2 ? '24px' : '12px'}};"></span></a></li>
                            <li><a href="#" title="@socisaV2.Resources.ProceseResx.CANCEL_ACTIVE_FILTERS_TITLE" ng-click="ClearFilters()" a-disabled="searchMode == 2"><span class="glyphicon glyphicon-zoom-out delete dosareNavigatorButon"></span></a></li>
                            <li><a href="#" title="@socisaV2.Resources.ProceseResx.LISTA_PROCESE_TITLE" onclick="showProceseSideNav(true)" a-disabled="searchMode == 2" id="buttonShowListaProcese"><span id="glyphShowListaProcese" class="glyphicon glyphicon-list dosareNavigatorButon"></span></a></li>

                            <li><a href="#" title="@socisaV2.Resources.ProceseResx.FIRST_PROCES_TITLE" ng-click="firstProces()" a-disabled="searchMode == 2"><span class="glyphicon glyphicon-step-backward dosareNavigatorButon"></span></a></li>
                            <li><a href="#" title="@socisaV2.Resources.ProceseResx.PREV_PROCES_TITLE" ng-click="prevProces()" a-disabled="searchMode == 2"><span class="glyphicon glyphicon-triangle-left dosareNavigatorButon"></span></a></li>
                            <li class="disabled dosareNavigatorButon"><span ng-show="searchMode > 0">@socisaV2.Resources.GlobalResx.INREGISTRAREA {{RowsBlockIndex * RowsBlockSize + curProcesIndex.Value + 1}} / {{RowsCount}} @socisaV2.Resources.GlobalResx.GASITE</span></li>
                            <li><a href="#" title="@socisaV2.Resources.ProceseResx.NEXT_PROCES_TITLE" ng-click="nextProces()" a-disabled="searchMode == 2"><span class="glyphicon glyphicon-triangle-right dosareNavigatorButon"></span></a></li>
                            <li><a href="#" title="@socisaV2.Resources.ProceseResx.LAST_PROCES_TITLE" ng-click="lastProces()" a-disabled="searchMode == 2"><span class="glyphicon glyphicon-step-forward dosareNavigatorButon"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-info" ng-show="model.CurProces.Proces.ID != null" a-disabled="editMode > 0">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-11">
                    @socisaV2.Resources.ProceseResx.INFO_STADII_DOSAR
                </div>
                <div class="col-sm-1" style="text-align:right">
                    <a href="#" class="btn btn-default btn-xs" ng-click="ShowStadii(true)"><span class="glyphicon glyphicon-eye-close" style="cursor:pointer;" title="@socisaV2.Resources.GlobalResx.AFISEAZA_ASCUNDE"></span></a>
                </div>
            </div>
        </div>
        <div class="panel-body" id="infoStadiiDosar" style="padding:0px;display:none;">
            <!--
            <div class="row">
                <div class="col-sm-12" style="padding:0px !important;">
                    <table class="table table-striped table-hover" style="margin-bottom:5px;">
                        <thead>
                            <tr>
                                <th>
                                    &nbsp;
                                </th>
                                <th style="display:none;">
                                    ID
                                </th>
                                <th>
                                    @socisaV2.Resources.ProceseStadiiResx.ID_STADIU
                                </th>
                                <th>
                                    @socisaV2.Resources.ProceseStadiiResx.DATA
                                </th>
                                <th>
                                    @socisaV2.Resources.ProceseStadiiResx.ORA
                                </th>
                                <th>
                                    @socisaV2.Resources.ProceseStadiiResx.TERMEN
                                </th>
                                <th>
                                    @socisaV2.Resources.ProceseStadiiResx.SCADENTA
                                </th>
                                <th>
                                    @socisaV2.Resources.ProceseStadiiResx.TERMEN_ADMINISTRATIV
                                </th>
                                <th>
                                    @socisaV2.Resources.ProceseStadiiResx.OBSERVATII
                                </th>
                                <th>
                                    @socisaV2.Resources.ProceseStadiiResx.ID_SENTINTA
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align:center;vertical-align:middle;white-space:nowrap;">
                                    <a href="#" class="btn btn-default btn-xs" title="@socisaV2.Resources.GlobalResx.EDITARE_TITLE" a-disabled="model.CurProces.Proces.ID == null" ng-click="OpenStadiiDialog()">...</a>
                                </td>
                                <td style="display:none;">
                                    <span>{{model.CurProces.StadiuCurent.ProcesStadiu.ID}}</span>
                                </td>
                                <td>
                                    <span><img src="{{model.CurProces.StadiuCurent.Stadiu.ICON_PATH}}" width="16" height="16" /></span>
                                    <span>{{model.CurProces.StadiuCurent.Stadiu.DENUMIRE}}</span>
                                </td>
                                <td>
                                    <span>{{model.CurProces.StadiuCurent.ProcesStadiu.DATA}}</span>
                                </td>
                                <td>
                                    <span>{{model.CurProces.StadiuCurent.ProcesStadiu.ORA}}</span>
                                </td>
                                <td>
                                    <span>{{model.CurProces.StadiuCurent.ProcesStadiu.SCADENTA}}</span>
                                </td>
                                <td>
                                    <span>{{model.CurProces.StadiuCurent.ProcesStadiu.TERMEN}}</span>
                                </td>
                                <td>
                                    <span>{{model.CurProces.StadiuCurent.ProcesStadiu.TERMEN_ADMINISTRATIV}}</span>
                                </td>
                                <td>
                                    <span>{{model.CurProces.StadiuCurent.ProcesStadiu.OBSERVATII}}</span>
                                </td>
                                <td>
                                    <span>{{model.CurProces.StadiuCurent.Sentinta.NR_SENTINTA}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            -->
            <!-- DACA VREM STADIILE DIRECT IN PAGINA DE PROCESE --
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Stadii proces</div>
                        <div class="panel-body" style="padding:0;" id="DivStadii"></div>
                    </div>
                </div>
            </div>
            -->
            <div id="infoStadiiDosarDetails"></div>
        </div>
    </div>

    <div class="panel panel-info" ng-show="model.CurProces.Proces.ID != null" a-disabled="editMode > 0 || editModeStadii > 0">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-11">
                    @socisaV2.Resources.ProceseResx.INFO_DOCUMENTE_DOSAR
                </div>
                <div class="col-sm-1" style="text-align:right">
                    <a href="#" class="btn btn-default btn-xs" ng-click="ShowInfoPortal(true)"><span class="glyphicon glyphicon-eye-close" style="cursor:pointer;" title="@socisaV2.Resources.GlobalResx.AFISEAZA_ASCUNDE"></span></a>
                </div>
            </div>
        </div>
        <div class="panel-body" id="infoDocumenteProces" style="padding:0px;display:none;">

            <div id="infoDocumenteProcesDetails"></div>
        </div>
    </div>

    <div class="panel panel-info" ng-show="model.CurProces.Proces.ID != null" a-disabled="editMode > 0 || editModeStadii > 0">
        <div class="panel-heading">
            <div class="row">
                <div class="col-sm-11">
                    Informatii dosar din portal just.ro
                </div>
                <div class="col-sm-1" style="text-align:right">
                    <a href="#" class="btn btn-default btn-xs" ng-click="ShowInfoPortal(true)"><span class="glyphicon glyphicon-eye-close" style="cursor:pointer;" title="@socisaV2.Resources.GlobalResx.AFISEAZA_ASCUNDE"></span></a>
                </div>
            </div>
        </div>
        <div class="panel-body" id="testDosarPortal" style="padding:0px;display:none;">

            <div id="testDosarPortalDetails"></div>
        </div>
    </div>


    <script type="text/ng-template" id="proceseStadiiLoader">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <span class="control-label">@socisaV2.Resources.DocumenteResx.TIP_DOCUMENT</span>
                    <div class="input-group">
                        <input list="exampleList" type="text" name="tipDocumentScanatProcesSelect" id="tipDocumentScanatProcesSelect" class="form-control input-sm customInput" ng-model="curTipDocumentScanatProces" ng-change="SetCurTipDocumentScanatProces(curTipDocumentScanatProces)">
                        <datalist name="exampleList" id="exampleList">
                            <option ng-repeat="tipDocumentScanatProces in model.TipDocumenteScanateProcese" ng-value="tipDocumentScanatProces">{{tipDocumentScanatProces}}</option>
                        </datalist>
                    </div>
                </div>
            </div>
        </div>
        <div id="incarcareFisiere" class="row" a-disabled="curTipDocumentScanatProces == null || curTipDocumentScanatProces == ''">
            <div class="col-sm-12">
                <div class="btn btn-primary" ngf-accept="'image/jpeg,image/png,image/bmp,application/pdf'" ngf-max-size="'20MB'" ngf-select="uploadFiles($files)" multiple="multiple">@socisaV2.Resources.DocumenteResx.INCARCA_FISIERE</div>
                <br />
                <div ngf-drop="uploadFiles($files)" class="drop-box"
                     ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-accept="'image/jpeg,image/png,image/bmp,application/pdf'" ngf-max-size="'20MB'">
                    @socisaV2.Resources.DocumenteResx.DRAG_AND_DROP
                </div>
                <div ngf-no-file-drop>@socisaV2.Resources.DocumenteResx.NO_DRAG_AND_DROP</div>
                <p>@socisaV2.Resources.DocumenteResx.FISIERE_PERMISE</p>
            </div>
        </div>
    </script>


    <script type="text/ng-template" id="raportTermeneDialog">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <div class="row" style="padding:5px;">
                        <div class="col-sm-6 toToDates">
                            @Html.Label(socisaV2.Resources.ProceseResx.DATA_DE_LA, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon customInputGroupAddOn"><img src="/Content/calendar.gif" /></span>
                                <input type="text" class="form-control input-sm customInput dateTimeInput" readonly jqdatepicker ng-model="FilterObject._TERMEN_START" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            @Html.Label(socisaV2.Resources.ProceseResx.DATA_PANA_LA, htmlAttributes: new { @class = "control-label" })
                            <div class="input-group">
                                <span class="input-group-addon customInputGroupAddOn"><img src="/Content/calendar.gif" /></span>
                                <input type="text" class="form-control input-sm customInput dateTimeInput" readonly jqdatepicker ng-model="FilterObject._TERMEN_END" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12" style="text-align:center;padding:5px;">
                            <a href="#" class="btn btn-primary btn-sm" title="@socisaV2.Resources.GlobalResx.GENERARE_EXCEL" ng-click="RaportExcel('Raport termene')">
                                <i class="fa fa-file-excel-o" style="font-size:14px;"></i> Excel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
}