@using socisaWeb.Helpers
@model SOCISA.Models.Intervenient

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)
    <div ng-controller="DetailsUpdaterController" ng-cloak>
        <div ng-init="@String.Format("model = {0};", Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.None, new Newtonsoft.Json.Converters.IsoDateTimeConverter() { DateTimeFormat = SOCISA.CommonFunctions.DATE_FORMAT }))"></div>
        <div class="row small">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.DENUMIRE, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DENUMIRE, new { htmlAttributes = new { @class = "form-control input-sm customInput", a_disabled = "true", data_ng_model = "model.DENUMIRE", data_ng_init = string.Format("model.DENUMIRE = '{0}'", Model.DENUMIRE) } })
                    @Html.ValidationMessageFor(model => model.DENUMIRE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row small">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.DETALII, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.DETALII, new { htmlAttributes = new { @class = "form-control input-sm customInput", a_disabled = "editMode != 1", data_ng_model = "model.DETALII", data_ng_init = string.Format("model.DETALII = '{0}'", Model.DETALII) } })
                    @Html.ValidationMessageFor(model => model.DETALII, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row small">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.CNP, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.CNP, new { htmlAttributes = new { @class = "form-control input-sm customInput", a_disabled = "editMode != 1", data_ng_model = "model.CNP", data_ng_init = string.Format("model.CNP = '{0}'", Model.CNP) } })
                    @Html.ValidationMessageFor(model => model.CNP, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row small">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.ADRESA, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.ADRESA, new { @class = "form-control input-sm customInput", a_disabled = "editMode != 1", data_ng_model = "model.ADRESA", data_ng_init = string.Format("model.ADRESA = '{0}'", Model.ADRESA) })
                    @Html.ValidationMessageFor(model => model.ADRESA, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="row small">
            <div class="col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(model => model.TELEFON, htmlAttributes: new { @class = "control-label" })
                    @Html.EditorFor(model => model.TELEFON, new { htmlAttributes = new { @class = "form-control input-sm customInput", a_disabled = "editMode != 1", data_ng_model = "model.TELEFON", data_ng_init = string.Format("model.TELEFON = '{0}'", Model.TELEFON) } })
                    @Html.ValidationMessageFor(model => model.TELEFON, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @if ((Model.ID != null && Helpers.HasRight("modificare")) || (Model.ID == null && Helpers.HasRight("adaugare")))
        {
        <div class="row small" ng-if="editMode > 0">
            <div class="col-sm-12">
                <div class="form-group">
                    <a href="#" title="@socisaV2.Resources.GlobalResx.SALVEAZA_TITLE" class="btn btn-default btn-sm" ng-click="Save()"><span class="glyphicon glyphicon-floppy-saved save"></span></a>
                    <a href="#" title="@socisaV2.Resources.GlobalResx.RENUNTA_TITLE" class="btn btn-default btn-sm" ng-click="Cancel()"><span class="glyphicon glyphicon-floppy-remove delete"></span></a>
                </div>
            </div>
        </div>
        }
    </div>
}
