@using socisaWeb.Helpers
@model socisaWeb.SedintaPortalView
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken();

    <div class="inner_content">
        <div class="btn-group" a-disabled="editMode == 1">
            <button ng-show="HasHtml.indexOf('mainSedintePortalDashboard') > -1" type="button" class="btn btn-danger" ng-click="ToggleDiv('mainDashboard', false, null, 'get')">&#9668;</button>
            <div class="input-group" style="padding-left: 5px;margin-top: 2px;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input class="form-control input-sm" type="text" ng-model="generalQueryText.$">
            </div>
        </div>

        <div ng-show="(result.Status == true || result.Status == false) && showMessage" ng-class="result.Status == false ? 'alert alert-danger' : 'alert alert-success'">
            <button type="button" class="close" ng-click="showMessage = false">&times;</button>
            <strong>{{result.Status ? 'Succes!' : 'Eroare!'}}</strong><br />
            <p ng-repeat="s in result.Message.split(';')">
                {{s}}
            </p>
        </div>

        <div style="width:100%;overflow-x:auto;max-height:600px;overflow-y:auto;">
            @{
                string x = String.Format("model.SedintePortal = {0}", Newtonsoft.Json.JsonConvert.SerializeObject(Model.SedintePortal, Newtonsoft.Json.Formatting.None, new Newtonsoft.Json.Converters.IsoDateTimeConverter(){ DateTimeFormat = SOCISA.CommonFunctions.DATE_FORMAT }));
            }
            <table id="sedintePortalTable" class="table table-striped table-hover" ng-init="@x">
                <thead>
                    <tr>
                        <th>
                            &nbsp;
                        </th>
                        <th style="display:none;">
                            <a href="#" ng-click="sortBy('ID')" a-disabled="editMode == 1">ID</a>
                            <span class="sortorder" ng-show="propertyName === 'ID'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th ng-show="false">
                            <a href="#" ng-click="sortBy('ID_DOSAR')" a-disabled="editMode == 1">@socisaV2.Resources.SedintePortalResx.DOSAR</a>
                            <span class="sortorder" ng-show="propertyName === 'ID_DOSAR'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="sortBy('NR_DOSAR_CASCO')" a-disabled="editMode == 1">@socisaV2.Resources.SedintePortalResx.DOSAR</a>
                            <span class="sortorder" ng-show="propertyName === 'NR_DOSAR_CASCO'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th ng-show="false">
                            <a href="#" ng-click="sortBy('ID_PROCES')" a-disabled="editMode == 1">@socisaV2.Resources.SedintePortalResx.PROCES</a>
                            <span class="sortorder" ng-show="propertyName === 'ID_PROCES'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="sortBy('NR_DOSAR_INSTANTA')" a-disabled="editMode == 1">@socisaV2.Resources.SedintePortalResx.PROCES</a>
                            <span class="sortorder" ng-show="propertyName === 'NR_DOSAR_INSTANTA'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="sortBy('DATA')" a-disabled="editMode == 1">@socisaV2.Resources.SedintePortalResx.DATA</a>
                            <span class="sortorder" ng-show="propertyName === 'DATA'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="sortBy('DATA_SEDINTA')" a-disabled="editMode == 1">@socisaV2.Resources.SedintePortalResx.DATA_SEDINTA</a>
                            <span class="sortorder" ng-show="propertyName === 'DATA_SEDINTA'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="sortBy('INSTANTA')" a-disabled="editMode == 1">@socisaV2.Resources.SedintePortalResx.INSTANTA</a>
                            <span class="sortorder" ng-show="propertyName === 'INSTANTA'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="sortBy('COMPLET')" a-disabled="editMode == 1">@socisaV2.Resources.SedintePortalResx.COMPLET</a>
                            <span class="sortorder" ng-show="propertyName === 'COMPLET'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="sortBy('ORA')" a-disabled="editMode == 1">@socisaV2.Resources.SedintePortalResx.ORA</a>
                            <span class="sortorder" ng-show="propertyName === 'ORA'" ng-class="{reverse: reverse}"></span>
                        </th>
                        <th>
                            <a href="#" ng-click="sortBy('MONITORIZARE')" a-disabled="editMode == 1">@socisaV2.Resources.SedintePortalResx.MONITORIZARE</a>
                            <span class="sortorder" ng-show="propertyName === 'MONITORIZARE'" ng-class="{reverse: reverse}"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6" style="text-align:center;">
                            <label for="chkXZile">Termene in urmatoarele 7 zile</label><input type="checkbox" id="chkXZile" name="chkXZile" ng-model="XZile" ng-change="applyFilter()" />
                        </td>
                        <td colspan="6" style="text-align:center;">
                            <label for="chkDepasite">Termene depasite</label><input type="checkbox" id="chkDepasite" name="chkDepasite" ng-model="Depasite" ng-change="applyFilter()" />
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td style="display:none;"><input a-disabled="editMode == 1" style="width:100px;" type="text" ng-model="queryText.ID"></td>
                        <td style="white-space:nowrap;" ng-show="false"><input a-disabled="editMode == 1" type="text" style="width:90px;" ng-model="queryText.ID_DOSAR"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" type="text" style="width:90px;" ng-model="queryText.NR_DOSAR_CASCO"></td>
                        <td style="white-space:nowrap;" ng-show="false"><input a-disabled="editMode == 1" type="text" style="width:90px;" ng-model="queryText.ID_PROCES"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" type="text" style="width:90px;" ng-model="queryText.NR_DOSAR_INSTANTA"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" type="text" style="width:70px;" ng-model="queryText.DATA"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" type="text" style="width:70px;" ng-model="queryText.DATA_SEDINTA"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" type="text" style="width:180px;" ng-model="queryText.INSTANTA"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" type="text" style="width:180px;" ng-model="queryText.COMPLET"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" type="text" style="width:40px;" ng-model="queryText.ORA"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" type="text" style="width:30px;" ng-model="queryText.MONITORIZARE"></td>
                    </tr>
                    <tr ng-repeat="item in sedintePortalFiltrate = (model.SedintePortal | filter:queryText | filter:filterByColumns | filter:applyFilter) | orderBy:propertyName:reverse" ng-style="{'background-color': (IsDepasit(item) ? 'lightcoral' : 'auto') }">
                        <td style="text-align:center;vertical-align:middle;white-space:nowrap;">
                            @{
                                var ut = ((SOCISA.Models.Nomenclator)Session["CURENT_USER_TYPE"]).DENUMIRE;
                                if (ut == "Administrator")
                                {
                                    <span a-disabled="editMode > 0" ng-show="editMode == 0 || curIndex != $index" class="glyphicon glyphicon-import" style="font-size:16px; cursor:pointer;" ng-click="ImportMode(item, $index)" title="@socisaV2.Resources.GlobalResx.IMPORT_PORTAL_TITLE"></span>
                                    <!--
                                    <span a-disabled="editMode == 1" ng-show="editMode == 0 || curIndex != $index" class="glyphicon glyphicon-edit" style="font-size:16px; cursor:pointer;" ng-click="EditMode(item, $index)" title="@socisaV2.Resources.GlobalResx.EDITARE_TITLE"></span>
                                    <span class="glyphicon glyphicon-floppy-saved save" title="@socisaV2.Resources.GlobalResx.SALVEAZA_TITLE" style="font-size:16px;cursor:pointer;" ng-show="editMode == 1 && curIndex == $index" ng-click="Save()" />
                                    <span class="glyphicon glyphicon-floppy-remove delete" title="@socisaV2.Resources.GlobalResx.RENUNTA_TITLE" style="font-size:16px;cursor:pointer;" ng-show="editMode == 1 && curIndex == $index" ng-click="Cancel()" />
                                    -->
                                }
                            }
                        </td>
                        <td style="display:none;">
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.ID}}</span>
                            <input class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.ID" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                        <td ng-show="false">
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.ID_DOSAR}}</span>
                            <input class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.ID_DOSAR" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                        <td>
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.NR_DOSAR_CASCO}}</span>
                            <input class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.NR_DOSAR_CASCO" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                        <td ng-show="false">
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.ID_PROCES}}</span>
                            <input class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.ID_PROCES" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                        <td>
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.NR_DOSAR_INSTANTA}}</span>
                            <input class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.NR_DOSAR_INSTANTA" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                        <td>
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.DATA}}</span>
                            <input class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.DATA" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                        <td>
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.DATA_SEDINTA}}</span>
                            <input class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.DATA_SEDINTA" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                        <td>
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.INSTANTA}}</span>
                            <textarea class="form-control input-sm customInput" ng-model="curSedintaPortal.INSTANTA" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                        <td>
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.COMPLET}}</span>
                            <input class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.COMPLET" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                        <td>
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.ORA}}</span>
                            <input class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.ORA" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                        <td>
                            <span ng-show="editMode == 0 || curIndex != $index">{{item.MONITORIZARE}}</span>
                            <input class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.MONITORIZARE" ng-show="editMode == 1 && curSedintaPortal.ID == item.ID && curIndex == $index" />
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr ng-show="false">
                        <td colspan="17">
                            @if (ut == "Administrator") // Helpers.HasRight("adaugare")
                            {
                                <a href="#" ng-click="AddMode()" title="@socisaV2.Resources.GlobalResx.ADAUGARE_TITLE"><span class="glyphicon glyphicon-plus"></span></a>
                            }
                        </td>
                    </tr>
                    <tr ng-show="editMode == 2">
                        <td>
                            <span class="glyphicon glyphicon-floppy-saved save" title="@socisaV2.Resources.GlobalResx.SALVEAZA_TITLE" style="font-size:16px;cursor:pointer;" ng-click="Save()" />
                            <span class="glyphicon glyphicon-floppy-remove delete" title="@socisaV2.Resources.GlobalResx.RENUNTA_TITLE" style="font-size:16px;cursor:pointer;" ng-click="Cancel()" />
                        </td>
                        <td style="display:none;"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" ng-model="curSedintaPortal.ID"></td>
                        <td style="white-space:nowrap;" ng-show="false"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" style="width:120px;" ng-model="curSedintaPortal.ID_DOSAR"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" style="width:120px;" ng-model="curSedintaPortal.NR_DOSAR_CASCO"></td>
                        <td style="white-space:nowrap;" ng-show="false"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" style="width:180px;" ng-model="curSedintaPortal.ID_PROCES"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" style="width:120px;" ng-model="curSedintaPortal.NR_DOSAR_INSTANTA"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" style="width:100px;" ng-model="curSedintaPortal.DATA"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" style="width:100px;" ng-model="curSedintaPortal.DATA_SEDINTA"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" style="width:180px;" ng-model="curSedintaPortal.INSTANTA"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" style="width:180px;" ng-model="curSedintaPortal.COMPLET"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" style="width:180px;" ng-model="curSedintaPortal.ORA"></td>
                        <td style="white-space:nowrap;"><input a-disabled="editMode == 1" class="form-control input-sm customInput" type="text" style="width:100px;" ng-model="curSedintaPortal.MONITORIZARE"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}
